/*IMPORT SASS*/
@use "variables" ;
/*UNIVERSAL SELECTOR*/
*{
    margin: 0;
    padding: 0;
    
  }
  /*TAG SELECTOR*/
  body{
      background-image:variables.$bg-color;
  }
  h1, h2 , h3 {
    font-family: 'Mochiy Pop P One', sans-serif;
  }
  p , a {
    font-family: 'Montserrat', sans-serif;
  }
  /*CLASS SELECTOR*/
  .form,.item,.best-seller,.footer{
      text-align: center;
  }
  .button, .button-book{
    background-image: variables.$bg-color-inverse;
  }
  .form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .search-bar{
        text-align: center;
        font-size: 20px;
        width: 200px ;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-width: 0.2px;
        
    }

  }
  .item{
      padding: 35px 30px;
      img{
          height: 300px
      }
  }
  .button{
    border-radius: .25rem;
    border-bottom-left-radius: 0  ;
    border-top-left-radius: 0 ;
    border-width: .5px;
    border-left: 0;
    width: 60px;
}
.button-book{
    border-radius: .25rem;
    border-width: 0;
    width: 200px;
    margin: 10px
}
.side-bar{
    margin-top: 5px;
    box-shadow: 0px 12px 11px -2px #666660;
    border-radius: 1.25rem;
    background-image: variables.$bg-color-sidebar;
    display: flex;
    justify-content: space-around;
    .link{
        text-decoration: none;
        color: #2f2f2f;
        
        
    }

}
.best-seller{
    margin-top: 100px;
    .link-to{
       display: block; 
    }
}
.footer{
    position: relative;
    margin-top: 100%;
    a{
        font-family: 'Mochiy Pop P One', sans-serif !important;
        text-decoration: none;
        color: black
    }
}